.svg-draw-component .openseadragon {
  width: 800px;
  height: 600px;
  border: 1px solid black;
  color: #333;
  /* text color for messages */
  background-color: black;
}
.svg-draw-component .toolbar {
  width: 800px;
}
.svg-draw-component ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float: right;
}
.svg-draw-component li {
  float: left;
}
.svg-draw-component .navigator .highlight {
  width: 100%;
  opacity: 0.4;
  filter: alpha(opacity=40);
  outline: 2px solid #900;
  background-color: #900;
}
.svg-draw-component .highlight {
  width: 100%;
  opacity: 0.4;
  filter: alpha(opacity=40);
  outline: 12px auto #0A7EbE;
  background-color: white;
}
.svg-draw-component .highlight:hover,
.svg-draw-component .highlight:focus {
  filter: alpha(opacity=70);
  opacity: 0.7;
  background-color: transparent;
}
.svg-draw-component .outsideWrapper {
  width: 636px;
  height: 494px;
  margin: 20px 60px;
  border: 1px solid blue;
}
.svg-draw-component .insideWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.svg-draw-component .coveredImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg-draw-component .coveringCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg-draw-component .paper {
  width: 800px;
  height: 600px;
  /*margin:20px 60px;*/
  border: 1px solid blue;
  background-color: rgba(158, 167, 184, 0.2);
}
