.svg-draw-component .openseadragon {
  width: 800px;
  height: 600px;
  border: 1px solid black;
  color: #333;
  /* text color for messages */
  background-color: black;
}
.svg-draw-component .toolbar {
  width: 800px;
}
.svg-draw-component ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float: right;
}
.svg-draw-component li {
  float: left;
}
.svg-draw-component .navigator .highlight {
  width: 100%;
  opacity: 0.4;
  filter: alpha(opacity=40);
  outline: 2px solid #900;
  background-color: #900;
}
.svg-draw-component .highlight {
  width: 100%;
  opacity: 0.4;
  filter: alpha(opacity=40);
  outline: 12px auto #0A7EbE;
  background-color: white;
}
.svg-draw-component .highlight:hover,
.svg-draw-component .highlight:focus {
  filter: alpha(opacity=70);
  opacity: 0.7;
  background-color: transparent;
}
.svg-draw-component .paper {
  width: 800px;
  height: 600px;
  /*margin:20px 60px; img/floorplan.png*/
  border: 1px solid blue;
  background-color: rgba(158, 167, 184, 0.2);
}
.svg-draw-component .events {
  width: 600px;
  min-height: 200px;
  background-color: #eee;
  padding: 10px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  clear: both;
}
.svg-draw-component .events-flash {
  background-color: #eee;
  -webkit-animation-name: demo;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  animation-name: demo;
  animation-duration: 900ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
.svg-draw-component pre {
  word-wrap: break-word;
}
@-webkit-keyframes demo {
  0% {
    background-color: #eee;
  }
  25% {
    background-color: Yellow;
  }
  100% {
    background-color: #eee;
  }
}
@keyframes demo {
  0% {
    background-color: #eee;
  }
  25% {
    background-color: Yellow;
  }
  100% {
    background-color: #eee;
  }
}
