@img-path: "../img/";

.svg-draw-component{

  .openseadragon
  {
      width:      800px;
      height:     600px;
      border:     1px solid black;
      color:      #333; /* text color for messages */
      background-color: black;
      margin-left: 5vw;
  }

  .navigator .highlight{
      width:100%;
      opacity:    0.4;
      filter:     alpha(opacity=40);
      outline:    2px solid #900;
      background-color: #900;
  }

  .highlight{
      width:100%;
      opacity:    0.4;
      filter:     alpha(opacity=40);
      outline:    12px auto #0A7EbE;
      background-color: white;
  }

  .highlight:hover, .highlight:focus{
      filter:     alpha(opacity=70);
      opacity:    0.7;
      background-color: transparent;
  }


// for plain canvas
  .paper{
        width:800px; height:600px;
        /*margin:20px 60px; img/floorplan.png*/
        margin-left: 5vw;
        border:1px solid blue;
        background-color: rgba(158, 167, 184, 0.2);}

// for toolbar

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    @color-b: #889;
    @color-d1: darken(@color-b, 10%);
    @color-d2: darken(@color-b, 25%);
    @color-d3: darken(@color-b, 40%);

    @color-l1: lighten(@color-b, 10%);
    @color-l2: lighten(@color-b, 25%);
    @color-l3: lighten(@color-b, 40%);

    @unit: 8px;

    .pressable(@off, @on) {

      > label {
        position: relative;

        display: inline-block;
        box-sizing: border-box;
        border: 1px solid @color-d2;
        font-size: @unit * 3 / 2;
        border-radius: @unit / 4;
        padding: @unit;
        color: @color-l2;

        background-color: @off;
        box-shadow:
          1px 1px 3px 1px rgba(0,0,0,0.2),
          inset 1px 1px 1px rgba(255,255,255,0.3),
          inset -1px -1px 1px rgba(0,0,0,0.3);

        transition: background-color 125ms;
      }

      > input[type=radio] {
        position: absolute;
        font-size: 0;
        left: -100%;
      }

      > input[type=radio]:checked + label {
        background-color: @on;
        box-shadow:
          inset 1px 1px 1px rgba(0,0,0,0.3);
      }

      > input[type=radio]:focus + label {
        box-shadow: 0 0 15px 1px #3498db;
      }
    }

    .tools {
      position: absolute;
      top: 10vh;
      left: 0;
      background-color: @color-b;
      border: 1px solid @color-d1;
      border-left: 0;

      > li {
        margin: @unit @unit;
      }

      > li.separator {
        margin: @unit @unit / 2;
        border-top: 1px solid @color-d1;
        border-bottom: 1px solid @color-l1;
      }
    }

    .tool-btn {
      .pressable(@color-b, @color-d2);
    }


  // for demos
  .events {
      width: 600px;
      min-height: 200px;
      background-color: #eee;
      padding: 10px;
      border-radius: 4px;
      -webkit-transition: background-color .2s linear;
      -moz-transition: background-color .2s linear;
      -o-transition: background-color .2s linear;
      -ms-transition: background-color .2s linear;
      transition: background-color .2s linear;
      clear: both;
    }

    .events-flash {
        background-color: #eee;
        -webkit-animation-name: demo;
        -webkit-animation-duration: 900ms;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-out;
        animation-name: demo;
        animation-duration: 900ms;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
    }

    pre {
        word-wrap: break-word;
    }

    @-webkit-keyframes demo {
      0% {
          background-color: #eee;
      }
      25% {
          background-color: Yellow;
      }
      100% {
          background-color: #eee;
      }
    }

            @keyframes demo {
      0% {
          background-color: #eee;
      }
      25% {
          background-color: Yellow;
      }
      100% {
          background-color: #eee;
      }
    }

}
